basic types with functions
![alt text](image.png)

annotatinf EmptyParams
![alt text](image-1.png)
AnyType
![alt text](image-2.png)

updating basic types
![alt text](image-3.png)
